*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #f0f0f0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #1c1c1c);
}
h1 {
    text-align: center;
    margin-bottom: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tablero    {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: rgb(234, 238, 237);
    border: dotted thin black
}
.tablero * {
    text-align: center;
    font-size: 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: black solid thin;
}